.container
{
    margin: auto;
    place-items: center;
    display: grid;
}
.card
{
    height: 25vh;
    background-color: aqua;
}

#show
{
    font-size: 50px;
    text-align: center;
}
#result
{
    font-size: 20px;
    font-family: 700;
    text-align: center;
}